@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
	font-family: "Lato", sans-serif;
}

body {
	margin: 0;
}

.backgroundShapes {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.circle1 {
	display: inline-block;
	width: 33vw;
	height: 33vw;
	border-radius: 50%;
	background: #ffa564;
	filter: blur(210px);
	animation: animation 4s infinite;
}
.circle2 {
	display: inline-block;
	width: 33vw;
	height: 33vw;
	border-radius: 50%;
	background: #ff5981;
	filter: blur(160px);
	animation: animation2 5s infinite;
}
.circle3 {
	display: inline-block;
	width: 33vw;
	height: 33vw;
	border-radius: 50%;
	background: #62f6ff;
	filter: blur(210px);
	animation: animation 4s infinite;
}
.circle4 {
	display: inline-block;
	width: 49vw;
	height: 25vw;
	border-radius: 50%;
	background: #9c78ff;
	filter: blur(160px);
	animation: animation2 5s infinite;
}
.circle5 {
	display: inline-block;
	width: 49vw;
	height: 25vw;
	border-radius: 50%;
	background: #609fff;
	filter: blur(160px);
	animation: animation2 4s infinite;
}

@keyframes animation {
	0% {
		filter: blur(210px);
	}
	50% {
		filter: blur(160px);
	}
	100% {
		filter: blir(210px);
	}
}
@keyframes animation2 {
	0% {
		filter: blur(160px);
	}
	50% {
		filter: blur(210px);
	}
	100% {
		filter: blur(160px);
	}
}

.intro {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
}

.leftBar {
	height: 100vh;
	width: 5vw;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
}

.rightBar {
	height: 100vh;
	width: 5vw;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
}

.centerBar {
	height: 100vh;
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentTop {
	height: 50vh;
	width: 70vw;
}
.contentBottom {
	height: 50vh;
	width: 70vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.button1 {
	width: 25vw;
	height: 12.5vw;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
	backdrop-filter: blur(60px);
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s;
}

.button2 {
	width: 25vw;
	height: 12.5vw;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
	backdrop-filter: blur(60px);
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.button1 > .buttonText {
	font-weight: 300;
	font-size: 64px;
}
.button2 > .buttonText {
	font-weight: 300;
	font-size: 64px;
}
